@import 'config/theme';

.Breadcrumbs {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 8px 20px 10px;
  line-height: 1.5;
  list-style: none;

  &::before {
    content: '';
    display: block;
    position: relative;
    top: -8px;
    left: 50%;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    background-color: $gray;
  }

  .Breadcrumbs__Item {
    display: inline;
    color: $gray-D1;
    font-size: 12px;
    font-weight: 600;

    + .Breadcrumbs__Item {
      &::before {
        content: '-';
        display: inline;
        padding: 0 5px;
      }
    }
  }
}
